button.fancy {
    -webkit-appearance: button;
    border: 2px solid var(--color-primary);
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    background-color: var(--color-primary);
    cursor: pointer;
    /*display: inline-block;*/
    display: flex;
    float: right;
    letter-spacing: .05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    text-transform: none;
    transition: all .3s ease-in-out;
    user-select: none;

    &::before {
        content: " ";
        width: 1.5625rem;
        height: 2px;
        background: white;
        top: 50%;
        left: 1.5em;
        position: absolute;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: background 0.3s linear, width 0.3s linear;
        transition: background 0.3s linear, width 0.3s linear;
    }
    .button-text {
        font-size: 1.125em;
        line-height: 1.33333em;
        padding-left: 2em;
        font-weight: 900;
        display: block;
        text-align: left;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }

    .top-key {
        height: 2px;
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
        position: absolute;
        background: var(--color-tertiary);
        -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
        transition: width 0.5s ease-out, left 0.3s ease-out;
    }

    .bottom-key-1 {
        height: 2px;
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
        position: absolute;
        background: var(--color-tertiary);
        -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }
    .bottom-key-2 {
        height: 2px;
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
        position: absolute;
        background: white;
        -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }

    &:hover {
        color: var(--color-tertiary);
        background: white;
        border-color: var(--color-tertiary);


        &::before {
            width: 0.9375rem;
            background: white;
        }

        .button-text {
            color: var(--color-tertiary);
            padding-left: 1.5em;
        }

        .top-key {
            left: -2px;
            width: 0px;
        }
        .bottom-key-1 ,
        .bottom-key-2 {
            right: 0;
            width: 0;
        }

    }

}