button.fancy {
    -webkit-appearance: button;
    border: 4px solid white;
    border-radius: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    /*display: inline-block;*/
    display: flex;
    float: right;
    letter-spacing: .05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    text-transform: none;
    transition: all .3s ease-in-out;
    user-select: none;


    .button-text {
        font-size: 1.125em;
        line-height: 1.33333em;
        text-align: center;
        font-weight: 900;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }

    .top-key {
        height: 4px;
        width: 1.5625rem;
        top: -4px;
        left: 0.625rem;
        position: absolute;
        background: var(--color-tertiary);
        -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
        transition: width 0.5s ease-out, left 0.3s ease-out;
    }

    .bottom-key-1 {
        height: 4px;
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -4px;
        position: absolute;
        background: var(--color-tertiary);
        -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }
    .bottom-key-2 {
        height: 4px;
        width: 0.625rem;
        right: 0.625rem;
        bottom: -4px;
        position: absolute;
        background: white;
        -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }

    &:hover {
        color: var(--color-secondary);
        background: white;
        border-color: var(--color-secondary);


        &::before {
            width: 0rem;
            background: white;
        }

        .button-text {
            color: var(--color-secondary);
            scale: 1.03;
        }

        .top-key {
            left: -2px;
            width: 0px;
        }
        .bottom-key-1 ,
        .bottom-key-2 {
            right: 0;
            width: 0;
        }

    }

}
/* État désactivé */
button.fancy:disabled,
button.fancy[disabled] {
    background-color: #bdbdbd;   /* gris de fond */
    border-color:   #bdbdbd;     /* bordure grise */
    color:          white;     /* texte gris foncé */
    cursor:         not-allowed; /* curseur d’interdiction */
    pointer-events: none;        /* désactive les interactions */
}

/* Texte interne du bouton lorsqu’il est désactivé */
button.fancy:disabled .button-text,
button.fancy[disabled]  .button-text {
    color: white;
}

