@import "tailwindcss";

@theme {
  --color-primary: #C2531B;
  --color-secondary: #ec904b;
  --color-tertiary: #DB4123;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Roboto Thin", sans-serif;

}