@import "tailwindcss";

@theme {
  --color-primary: var(--color-violet-300);
  --color-primary-dark: var(--color-violet-500);

  --color-secondary: var(--color-orange-100);
  --color-secondary-dark: var(--color-orange-300);
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  font-family: "Roboto Light", sans-serif;

}